{% extends 'page/layout.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ asset('build/img/cvjonathanvalette.png') }}" download="cvjonathanvalette.png">Téléchargez CV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                   <a class="nav-link" href="{{ path('page') }}">Accueil</a>
            </li>

        </ul>

        {#</form>#}
    </div>
</nav>

    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
		    <header class="resume-header pt-4 pt-md-0">
			    <div class="media flex-column flex-md-row" style="background-color : #D3D3D3"alt="">
				    <img class="mr-3 img-fluid picture mx-auto" src="{{ asset('build/img/unnamed.jpg') }}" style="height:219px;background-color : #D3D3D3"alt="">
				    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
					    <div class="primary-info">
						    <h1 class="name mt-0 mb-1 text-uppercase text-uppercase">Jonathan Valette</h1>
						    <div class="title mb-3">Développeur Web Junior PHP/Symfony</div>
						    <ul class="list-unstyled">

						    </ul>
					    </div><!--//primary-info-->
					    <div class="secondary-info ml-md-auto mt-2">
						    <ul class="resume-social list-unstyled">
				                <li class="mb-3"><a href="#"><span class="fa-container text-black text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>github.com/jonathanvalette</a></li>
				                <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fas fa-envelope"></i></span>contactjonathanvalette@gmail.com</a></li>
                        <li class="mb-3" style="margin-top:10px;"><a href="#"><span class="fa-container text-center mr-2"><i class="fas fa-globe"></i></span>http://devjon.herokuapp.com</a></li>
						    </ul>
					    </div><!--//secondary-info-->

				    </div><!--//media-body-->
			    </div><!--//media-->
		    </header>
		    <div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5">
				    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Profil</h2>
				    <div class="resume-section-content">
					    <p class="mb-0">Ma formation de Web Développeur PHP Symfony, ont développé mon goût pour l’organisation, le travail d’équipe et la maîtrise de la technologie.</p>
				    </div>
			    </section><!--//summary-section-->
			    <div class="row">
				    <div class="col-lg-9">
					    <section class="resume-section experience-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Experience</h2>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
								    <article class="resume-timeline-item position-relative pb-5">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Stagiaire Développeur d'application PHP\Symfony</h3>
										        <div class="resume-company-name ml-auto">Atome Data System, Montpellier</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2020 Janvier- 2020 Juin (6 mois)</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p>Dans une équipe de 3 développeurs ( Chef de projet, Lead dev, dev senior ). Utiliser Symfony pour participer à la mise en oeuvre d'une application de vente de véhicule.</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Accomplis:</h4>
										    <ul>
											    <li>Analyser et comprendre l’architecture technique de l'application à l’aide de diagrammes UML et MLD.</li>
											    <li>Communiquer avec une base de données pour stocker et requêter des informations.</li>
											    <li>Mettre en oeuvre des tests unitaires et fonctionnels ainsi qu’utiliser les outils d’intégration continue.</li>
											    <li>Participer au développement de l'application dans un environnement agile.</li>
										    </ul>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies utilisées:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Symfony</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Docker</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Gitlab</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Mysql</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/SASS</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->

								    <article class="resume-timeline-item position-relative pb-5">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Stagiaire Développeur Intégrateur Web</h3>
										        <div class="resume-company-name ml-auto">Cabinet PKD Conseil, Paris</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2019 Juillet - 2019 Décembre (6 mois)</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p> Mettre en oeuvre le Front-End et l'intégration pour une application permettant d'accéder à des entretiens avec des avocats pour les procédures les plus courantes.</p>
                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Accomplis:</h4>
                        <ul>
                          <li>Codé et intégré les pages en HTML/CSS.</li>
                          <li>S’assuré de la cohérence entre les pages codées et les maquettes graphiques transmis au préalable.</li>
                          <li>Rendre le site accessible.</li>
                          <li>Tester les pages intégrées sur les différents navigateurs (Chrome, Internet Explorer, Firefox, Safari, etc).</li>
                        </ul>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies utilisées:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Bootstrap</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Jquery</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">JavaScript</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/CSS</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->

								    <article class="resume-timeline-item position-relative pb-5">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Formation Développeur Web PHP/Symfony</h3>
										        <div class="resume-company-name ml-auto">Wild Code School</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2018 Juillet - 2018 Décembre (6 mois)</div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
                        <p>Avec la Wild Code School sur le campus de Fontainebleau apprendre l'essentiel concernant le developement web.</p>

                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Accomplis:</h4>
                        <ul>
                          <li>Rédiger les lignes de codes nécessaires à la création d’un produit web, pouvant contenir du texte, des images, de la vidéo et/ou du son.</li>
                          <li>Appliquer les règles de navigation, créer des liens entre les pages.</li>
                          <li>Développer les interfaces.</li>
                          <li>Corriger et optimiser les fonctionnalités (qualité, charte graphique, ergonomie...).</li>
                        </ul>

                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies utilisées:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">PHP</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Symfony</span></li>
                          <li class="list-inline-item"><span class="badge badge-primary badge-pill">Bootstrap</span></li>
                          <li class="list-inline-item"><span class="badge badge-primary badge-pill">Twig</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/CSS</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->

								    <article class="resume-timeline-item position-relative">

									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Agent Administratif<small class="text-muted">(Sous-Contrat)</small></h3>
										        <div class="resume-company-name ml-auto">Centre du Service National de Poitiers</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2011 - 2017 (6 ans)</div>
									    </div><!--//resume-timeline-item-header-->
                      <div class="resume-timeline-item-desc">
                        <p>Au Centre du service National de Poitiers effectuer l'ensemble des tâches pour permettre l'administration des personnes soumises au service national dans le département de la Vienne (86).</p>

                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Accomplis:</h4>
                        <ul>
                          <li>Préparer la JAPD (Journée d'appel de préparation à la défense).</li>
                          <li>Animer certains modules de la JAPD .</li>
                          <li>Effectuer des tests QCM afin de prévenir l'illetrisme.</li>
                          <li>Traiter les demandes de personnes soumis à l'ancien code du service national.</li>
                        </ul>

                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies utilisées:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Word</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Exel</span></li>
                          <li class="list-inline-item"><span class="badge badge-primary badge-pill">Window</span></li>
                          <li class="list-inline-item"><span class="badge badge-primary badge-pill">Logiciel ministere de la defense</span></li>
										    </ul>
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->


							    </div><!--//resume-timeline-->






						    </div>
					    </section><!--//experience-section-->
				    </div>
				    <div class="col-lg-3">
					    <section class="resume-section skills-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Competences</h2>
						    <div class="resume-section-content">
						        <div class="resume-skill-item">
							        <h4 class="resume-skills-cat font-weight-bold">Frontend</h4>
							        <ul class="list-unstyled mb-4">
								        <li class="mb-2">
								            <div class="resume-skill-name">Bootstrap/Jquery</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>

								        <li class="mb-2">
								            <div class="resume-skill-name">JavaScript</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">HTML/CSS/SASS</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
							        </ul>
						        </div><!--//resume-skill-item-->

						        <div class="resume-skill-item">
						            <h4 class="resume-skills-cat font-weight-bold">Backend</h4>
							        <ul class="list-unstyled">
								        <li class="mb-2">
								            <div class="resume-skill-name">Symfony</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">PHP</div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">Mysql &amp; PostgresSQL </div>
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
								        </li>
							        </ul>
						        </div><!--//resume-skill-item-->

						    </div><!--resume-section-content-->
					    </section><!--//skills-section-->
					    <section class="resume-section education-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								    <li class="mb-2">
								        <div class="resume-degree font-weight-bold">BEP Comptabilité</div>
								        <div class="resume-degree-time">2004 - 2006</div>
								    </li>
								    <li>
								        <div class="resume-degree font-weight-bold">Formation Web Développeur </div>
								        <div class="resume-degree-org">Wild Code School</div>
								        <div class="resume-degree-time">2018</div>
								    </li>
							    </ul>
						    </div>
					    </section><!--//education-section-->
					    <section class="resume-section language-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Language</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled resume-lang-list">
								    <li class="mb-2"><span class="resume-lang-name font-weight-bold">Français</span> <small class="text-muted font-weight-normal">(Native)</small></li>
								    <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">English</span> <small class="text-muted font-weight-normal">(Professional)</small></li>
							    </ul>
						    </div>
					    </section><!--//language-section-->
					    <section class="resume-section interests-section mb-5">
						    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Intérêts</h2>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								    <li class="mb-1">Programmation</li>
								    <li class="mb-1">Web</li>
								    <li class="mb-1">Science</li>
							    </ul>
						    </div>
					    </section><!--//interests-section-->

				    </div>
			    </div><!--//row-->
		    </div><!--//resume-body-->


	    </div>
    </article>

</body>
    {% endblock %}